@media (min-width: 576px) and (max-width: 767.98px) {
    .foot {
        @include align-foot;
        padding: 2.5rem 0;
        &-logo {
            width: 10%;
            margin-bottom: 1rem;
            @include margin-1;
            img {
             @include width-100;
            }
        }
        p {
            font-size: $extra-small;
            font-weight: $regular;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .foot {
        padding: 4rem 0;
        text-align: center;
        color: $secondary-color;
        &-logo {
            @include display-none;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .foot {
        padding: 4rem 0;
        text-align: center;
        color: $secondary-color;
        &-logo {
            @include display-none;
        }
    }
}